:host ::ng-deep mat-card{
  border-radius: 0 !important;
  width: 100%;
}
mat-card{
  min-height: 290px;
  justify-content: left !important;
}

mat-card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}

mat-form-field {
  width: 300px;
  padding: 5px;
}
button{
  margin-top: 5px;
}

#moderator-container{
  display: flex;
  flex-direction: column;
}
#moderator-search-container{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-item{
  margin-right: 25px;
}

form{
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  mat-card{
    min-height: 110px;
  }
  mat-card-content{
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  mat-card{
    min-height: 110px;
  }
  mat-card-content{
    flex-direction: row;
  }
  mat-form-field{
    padding: 0;
  }
}