<div id="land-container" class="component-container" [ngClass]="{'moderator-panel-margin': authService.moderatorPanelSubject$ | async}">
  <div class="cat-container">
    <div id="cat-cloud" class="cloud-text">
      Wybierz swoją krainę i zacznij zabawę! Mając konto, możesz kontynuować grę
      bez utraty postępów!
    </div>
    <div class="cat-image-with-cloud"></div>
  </div>
  <div id="button-container" class="margin-top-10">
    <button
      (click)="setLand(1)"
      mat-raised-button
      class="game-button"
    >
      Kraina czterech łapek
    </button>
    <button
      (click)="setLand(2)"
      mat-raised-button
      class="game-button"
    >
      Kraina zamarzniętych słów
    </button>
    <button
      (click)="setLand(3)"
      mat-raised-button
      class="game-button"
    >
      Kraina kocich opowieści
    </button>
    <button
      (click)="setLand(4)"
      mat-raised-button
      class="game-button"
    >
      Kraina słonecznych marzeń
    </button>
  </div>
</div>
