<div id="land-container" class="component-container" [ngClass]="{'moderator-panel-margin': authService.moderatorPanelSubject$ | async}">
  <p>{{ title }}</p>

  <button mat-raised-button class="game-button" (click)="lesson(91)">
    Lekcja 1
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(92)">
    Lekcja 2
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(93)">
    Lekcja 3
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(94)">
    Lekcja 4
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(95)">
    Lekcja 5
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(96)">
    Lekcja 6
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(97)">
    Lekcja 7
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(98)">
    Lekcja 8
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(99)">
    Lekcja 9
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(100)">
    Lekcja 10
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(101)">
    Lekcja 11
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(102)">
    Lekcja 12
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(103)">
    Lekcja 13
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(104)">
    Lekcja 14
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(105)">
    Lekcja 15
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(106)">
    Lekcja 16
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(107)">
    Lekcja 17
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(108)">
    Lekcja 18
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(109)">
    Lekcja 19
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(110)">
    Lekcja 20
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(111)">
    Lekcja 21
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(112)">
    Lekcja 22
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(113)">
    Lekcja 23
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(114)">
    Lekcja 24
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(115)">
    Lekcja 25
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(116)">
    Lekcja 26
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(117)">
    Lekcja 27
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(118)">
    Lekcja 28
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(119)">
    Lekcja 29
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(120)">
    Lekcja 30
  </button>
</div>