<div id="land-container" class="component-container">
    <p>{{ title }}</p>
  
    <button mat-raised-button class="game-button" (click)="lesson(61)">
      Lekcja 1
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(62)">
      Lekcja 2
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(63)">
      Lekcja 3
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(64)">
      Lekcja 4
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(65)">
      Lekcja 5
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(66)">
      Lekcja 6
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(67)">
      Lekcja 7
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(68)">
      Lekcja 8
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(69)">
      Lekcja 9
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(70)">
      Lekcja 10
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(71)">
      Lekcja 11
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(72)">
      Lekcja 12
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(73)">
      Lekcja 13
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(74)">
      Lekcja 14
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(75)">
      Lekcja 15
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(76)">
      Lekcja 16
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(77)">
      Lekcja 17
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(78)">
      Lekcja 18
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(79)">
      Lekcja 19
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(80)">
      Lekcja 20
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(81)">
      Lekcja 21
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(82)">
      Lekcja 22
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(83)">
      Lekcja 23
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(84)">
      Lekcja 24
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(85)">
      Lekcja 25
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(86)">
      Lekcja 26
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(87)">
      Lekcja 27
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(88)">
      Lekcja 28
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(89)">
      Lekcja 29
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(90)">
      Lekcja 30
    </button>
  </div>