<div id="land-container" class="component-container">
  <p>{{ title }}</p>

  <button mat-raised-button class="game-button" (click)="lesson1()">
    Lekcja 1
  </button>
  <button mat-raised-button class="game-button" (click)="lesson2()">
    Lekcja 2
  </button>
  <button mat-raised-button class="game-button" (click)="lesson3()">
    Lekcja 3
  </button>
  <button mat-raised-button class="game-button" (click)="lesson4()">
    Lekcja 4
  </button>
  <button mat-raised-button class="game-button" (click)="lesson5()">
    Lekcja 5
  </button>
  <button mat-raised-button class="game-button" (click)="lesson6()">
    Lekcja 6
  </button>
  <button mat-raised-button class="game-button" (click)="lesson7()">
    Lekcja 7
  </button>
  <button mat-raised-button class="game-button" (click)="lesson8()">
    Lekcja 8
  </button>
  <button mat-raised-button class="game-button" (click)="lesson9()">
    Lekcja 9
  </button>
  <button mat-raised-button class="game-button" (click)="lesson10()">
    Lekcja 10
  </button>
  <button mat-raised-button class="game-button" (click)="lesson11()">
    Lekcja 11
  </button>
  <button mat-raised-button class="game-button" (click)="lesson12()">
    Lekcja 12
  </button>
  <button mat-raised-button class="game-button" (click)="lesson13()">
    Lekcja 13
  </button>
  <button mat-raised-button class="game-button" (click)="lesson14()">
    Lekcja 14
  </button>
  <button mat-raised-button class="game-button" (click)="lesson15()">
    Lekcja 15
  </button>
  <button mat-raised-button class="game-button" (click)="lesson16()">
    Lekcja 16
  </button>
  <button mat-raised-button class="game-button" (click)="lesson17()">
    Lekcja 17
  </button>
  <button mat-raised-button class="game-button" (click)="lesson18()">
    Lekcja 18
  </button>
  <button mat-raised-button class="game-button" (click)="lesson19()">
    Lekcja 19
  </button>
  <button mat-raised-button class="game-button" (click)="lesson20()">
    Lekcja 20
  </button>
  <button mat-raised-button class="game-button" (click)="lesson21()">
    Lekcja 21
  </button>
  <button mat-raised-button class="game-button" (click)="lesson22()">
    Lekcja 22
  </button>
  <button mat-raised-button class="game-button" (click)="lesson23()">
    Lekcja 23
  </button>
  <button mat-raised-button class="game-button" (click)="lesson24()">
    Lekcja 24
  </button>
  <button mat-raised-button class="game-button" (click)="lesson25()">
    Lekcja 25
  </button>
  <button mat-raised-button class="game-button" (click)="lesson26()">
    Lekcja 26
  </button>
  <button mat-raised-button class="game-button" (click)="lesson27()">
    Lekcja 27
  </button>
  <button mat-raised-button class="game-button" (click)="lesson28()">
    Lekcja 28
  </button>
  <button mat-raised-button class="game-button" (click)="lesson29()">
    Lekcja 29
  </button>
  <button mat-raised-button class="game-button" (click)="lesson30()">
    Lekcja 30
  </button>
</div>
