<div id="land-container" class="component-container">
  <p>{{ title }}</p>

  <button mat-raised-button class="game-button" (click)="lesson(1)">
    Lekcja 1
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(2)">
    Lekcja 2
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(3)">
    Lekcja 3
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(4)">
    Lekcja 4
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(5)">
    Lekcja 5
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(6)">
    Lekcja 6
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(7)">
    Lekcja 7
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(8)">
    Lekcja 8
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(9)">
    Lekcja 9
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(10)">
    Lekcja 10
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(11)">
    Lekcja 11
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(12)">
    Lekcja 12
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(13)">
    Lekcja 13
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(14)">
    Lekcja 14
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(15)">
    Lekcja 15
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(16)">
    Lekcja 16
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(17)">
    Lekcja 17
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(18)">
    Lekcja 18
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(19)">
    Lekcja 19
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(20)">
    Lekcja 20
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(21)">
    Lekcja 21
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(22)">
    Lekcja 22
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(23)">
    Lekcja 23
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(24)">
    Lekcja 24
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(25)">
    Lekcja 25
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(26)">
    Lekcja 26
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(27)">
    Lekcja 27
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(28)">
    Lekcja 28
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(29)">
    Lekcja 29
  </button>
  <button mat-raised-button class="game-button" (click)="lesson(30)">
    Lekcja 30
  </button>
</div>
