<div id="land-container" class="component-container" [ngClass]="{'moderator-panel-margin': authService.moderatorPanelSubject$ | async}">
    <p>{{ title }}</p>
  
    <button mat-raised-button class="game-button" (click)="lesson(31)">
      Lekcja 1
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(32)">
      Lekcja 2
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(33)">
      Lekcja 3
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(34)">
      Lekcja 4
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(35)">
      Lekcja 5
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(36)">
      Lekcja 6
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(37)">
      Lekcja 7
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(38)">
      Lekcja 8
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(39)">
      Lekcja 9
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(40)">
      Lekcja 10
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(41)">
      Lekcja 11
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(42)">
      Lekcja 12
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(43)">
      Lekcja 13
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(44)">
      Lekcja 14
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(45)">
      Lekcja 15
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(46)">
      Lekcja 16
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(47)">
      Lekcja 17
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(48)">
      Lekcja 18
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(49)">
      Lekcja 19
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(50)">
      Lekcja 20
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(51)">
      Lekcja 21
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(52)">
      Lekcja 22
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(53)">
      Lekcja 23
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(54)">
      Lekcja 24
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(55)">
      Lekcja 25
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(56)">
      Lekcja 26
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(57)">
      Lekcja 27
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(58)">
      Lekcja 28
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(59)">
      Lekcja 29
    </button>
    <button mat-raised-button class="game-button" (click)="lesson(60)">
      Lekcja 30
    </button>
  </div>