<div
  id="add-container"
  class="component-container"
  [ngClass]="{
    'moderator-panel-margin': (authService.moderatorPanelSubject$ | async)
  }"
>
  <div id="lesson-container" class="add-subcontainer">
    <img src="../../../../assets/book.png" class="photo-subcontainer" />
    <button
      mat-raised-button
      class="game-button"
      routerLink="/moderator-add-panel/add-lesson"
    >
      Dodaj lekcję
    </button>
  </div>
  <div id="category-container" class="add-subcontainer">
    <img src="../../../../assets/category.png" class="photo-subcontainer" />
    <button
      mat-raised-button
      class="game-button"
      routerLink="/moderator-add-panel/add-category"
    >
      Dodaj Kategorie
    </button>
  </div>
  <div id="topic-container" class="add-subcontainer">
    <img src="../../../../assets/topic.png" class="photo-subcontainer" />
    <button
      mat-raised-button
      class="game-button"
      routerLink="/moderator-add-panel/add-topic"
    >
      Dodaj Temat
    </button>
  </div>
  <div id="word-container" class="add-subcontainer">
    <img src="../../../../assets/word.png" class="photo-subcontainer" />
    <button
      mat-raised-button
      class="game-button"
      routerLink="/moderator-add-panel/add-word"
    >
      Dodaj Słowo
    </button>
  </div>
</div>
