<div
  id="add-container"
  class="component-container"
  [ngClass]="{
    'moderator-panel-margin': (authService.moderatorPanelSubject$ | async)
  }"
>
  <form #ngForm="ngForm" autocomplete="off" (ngSubmit)="createCategory(ngForm)">
    <mat-card>
      <mat-card-content>
        <div id="topic-form">
          <label class="title-label">Dodaj Kategorię</label>
          <mat-form-field class="margin-top-20">
            <mat-label>Polska nazwa kategorii</mat-label>
            <input matInput name="polishName" [(ngModel)]="model.polishName"/>
          </mat-form-field>
          <div *ngIf="errors.polishName" class="error-form">
            <span>{{ errors.polishName }}</span>
          </div>
          <mat-form-field class="margin-top-20">
            <mat-label>Angielska nazwa kategorii</mat-label>
            <input matInput name="englishName" [(ngModel)]="model.englishName"/>
          </mat-form-field>
          <div *ngIf="errors.englishName" class="error-form">
            <span>{{ errors.englishName }}</span>
          </div>
          <button mat-raised-button type="submit" class="submit-white-button margin-top-20">Dodaj</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>